<blockquote class="comment">
	<%= simple_format(comment.text) %>
		<footer>
			<%= time_ago_in_words(comment.created_at) %> ago
			by <cite><%= comment.creator %></cite>
		</footer>
</blockquote>
<%= state_transition_for(comment) %>
