<div class="row" id="admin">
  <div class="col-md-9">
    <header>
      <h1>Admin Dashboard</h1>
</header>
<p>Welcome</p>
</div>
<div class="col-md-3">
	<h2>Admin Links</h2>
	<ul class="nav nav-stacked">
		<li><%= link_to "Users", admin_users_path %></li>
		<li><%= link_to "States", admin_states_path %></li>
	</ul>
</div>