<div id="ticket">
	<header>
		<h4>Project Name:</h4>
		<p class="lead"><%= @project.name %></p>
	</header>
	<header>
	<h2><%= @ticket.name %></h2>
	<p class="lead"><%= simple_format(@ticket.description) %></p>
	<ul class="actions">
	<% if policy(@ticket).update? %>
		<li><%= link_to "Edit Ticket", [:edit, @project, @ticket],
		class: "edit-button" %>
		</li>
	<% end %>
	<% if policy(@ticket).destroy? %>
		<li><%= link_to "Delete Ticket", [@project, @ticket], method: :delete,
		data: { confirm: "Are you sure you want to delete this ticket?"},
		class: "delete-button" %>
		</li>
	<% end %>
	</ul>
	</header>

	<div class="row">
		<div class="col-sm-1">Owner</div>
		<div class="col-sm-1"><%= @ticket.creator.email %></div>
	</div>

	<div class="row">
		<div class="col-sm-1">Created</div>
		<div class="col-sm-3"><%= time_ago_in_words(@ticket.created_at) %></div>
	</div>

	<% if @ticket.state.present? %>
		<div class="row">
			<div class="col-sm-1">Status:</div>
			<div class="col-sm-1"><%= render @ticket.state %></div>
		</div>
	<% end %>
</div>

<header>
	<h3>Comments</h3>
</header>
<div id="comments">
	<% if @ticket.comments.persisted.any? %>
		<%= render @ticket.comments.persisted %>
	<% else %>
		<p>No Comments.</p>
	<% end %>
</div>
<%= render "comments/form", ticket: @ticket, comment: @comment %>