<header>
  <h1>Listing Projects</h1>

<% admins_only do %>
  <ul class="actions">
    <li><%= link_to "New Project", new_admin_project_path, class: "new-button" %></li> 
  </ul>
<% end %>
</header>
<% @projects.each do |project| %>
<div class="row">
  <div class="col-xs-8 col-md-8">
    <h3><%= link_to project.name, project %></h3>
    <%= project.description %>
  </div>
  <div class="col-xs-12 col-md-4">
    <%= link_to 'Show', project, class: "show-button" %>
    <%= link_to 'Edit', edit_project_path(project), class: "edit-button" %>
    <%= link_to 'Destroy', admin_project_path(project),
          method: :delete, data: { confirm: 'Confirm deletion?' }, class: "delete-button" %>
  </div>
</div>
<hr>
<% end %>



