<title><%= title(@project.name, "Projects") %></title>

<header>
	<h1><%= @project.name %></h1>

	<p class="lead">
	  <%= @project.description %>
	</p>
	<ul class="actions">
	<% if policy(@project).update? %>
		<li><%= link_to "Edit Project", edit_project_path(@project), class: "edit-button" %></li>
	<% end %>
	<% admins_only do %>
		<li><%= link_to "Delete Project", admin_project_path(@project),
		method: :delete,
		data: { confirm: "Are you sure you want to delete this project?" },
		class: "delete-button" %></li>
	<% end %>
	</ul>
</header>

<header>
	<h2>Tickets</h2>
	<ul class="actions">
	<% if policy(Ticket.new(project: @project)).create? %>
		<li><%= link_to "New Ticket", new_project_ticket_path(@project),
		class: "new-button" %></li>
	<% end %>
	</ul>
</header>

<ul id="tickets">
	<% @project.tickets.each do |ticket| %>
		<li>
			#<%= ticket.id %> -
			<%= link_to ticket.name, [@project, ticket] %>
			<%= render ticket.state if ticket.state %>
			- created on <%= ticket.created_at.to_date %>
		</li>
	<% end %>
</ul>
