// Place all the styles related to the admin/states controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.state {
	color: white;
	margin: 10px 10px 10px 5px;
}