// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
roles {
	@extend .table !optional;
	@extend .form-horizontal !optional;
	
	tr:first-child {
		td, th {
		  border-top: 0px;
		}
	}
	label {
		@extend .control-label !optional;
	}
	select {
		@extend .form-control !optional;
	} 
}