/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "responsive";
@import "font-awesome";
@import "projects";
@import "admin/application";
@import "admin/users";

.page-header {
	position: relative;
	padding-bottom: 0px;

	&:first-child {
	margin-top: 20px;
	}
	h1, h2, h3, h4, h5, h6 {
		max-width: 55%;
	}
}
header {
	@extend .page-header;
}
ul.actions {
	@extend .list-unstyled;
	@extend .list-inline;
	position: absolute;
	bottom: -2px;
	right: 2px;
	max-width: 45%;
	text-align: right;
}
a.new-button, a.show-button, a.edit-button, a.delete-button, a.back-button {
	@extend .btn;
	margin: 0.5rem;
	&:before {
		font-family: "FontAwesome";
		padding-right: 0.5em;
	}
}
a.new-button {
	@extend .btn-success;
	&:before {
		@extend .fa-plus;
	}
}
a.show-button {
	@extend .btn-success;
	&:before {
		@extend .fa-bars;
	}
}
a.edit-button {
	@extend .btn-primary;
	&:before {
		@extend .fa-pencil;
	}
}
a.delete-button {
	@extend .btn-danger;
	&:before {
		@extend .fa-trash;
	}
}
a.back-button {
	@extend .btn-success;
	&:before {
		@extend .fa-backward;
	}
}
.alert-notice {
	@extend .alert-success;
}
.alert-alert {
	@extend .alert-danger;
}
body {
	padding-top: 70px;
}
#tickets li, #states li {
	padding-bottom: 10px;
}
.simple_form {
  div.input {
    margin-bottom: 10px;
    clear: both;
    /* Required for Webkit, but not for Gecko */
  }
  label {
    float: left;
    width: 100px;
    text-align: right;
    margin: 2px 10px;
  }
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  float: none;
  margin: 0;
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form {
  .error {
    clear: left;
    color: black;
    display: block;
    margin-left: 120px;
  }
  .hint {
    clear: left;
    margin-left: 120px;
    color: #555;
    display: block;
    font-style: italic;
  }
}

input {
  &.radio {
    margin-right: 5px;
    vertical-align: -3px;
  }
  &.check_boxes {
    margin-left: 3px;
    vertical-align: -3px;
  }
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}