<header>
	<h1>States</h1>
	<ul class="actions">
		<li><%= link_to "New State", new_admin_state_path, class: "new-button" %></li>
	</ul>
</header>
<ul id="states">
	<% @states.each do |state| %>
		<li>
			<%= render "states/state", state: state %>
			<% if state.default? %>
				(Default)
			<% else %>
				<%= link_to "Make Default", make_default_admin_state_path(state) %>
			<% end %>
		</li>
	<% end %>
</ul>